* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  height: 90vh;
}
header{
  border-bottom: 2px solid maroon;
}

.hallo-col h2 {
    padding-top: 30px;
}

.hallo-col h1,
h2 {
    font-weight: 200;
}

.table-container {
    padding-top: 30px;
}

.btn-container{
  height: 7vh;

}

.buttonform{
  display: flex;
  align-items: flex-end;
  float: right;
}



.footer-container {
    display: flex;
    justify-content: space-around;
    height:auto
}
