* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hallo-col h2 {
    padding-top: 30px;
}

.hallo-col h1,
h2 {
    font-weight: 200;
}

.table-container {
    padding-top: 30px;
}


.footer-container {
    padding-top: 15px;
}

.footer ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
}

.footer ul li a {
    color: black;
}
	color:#fff;
background-color:#138496;
border-color:#117a8b;
}

#sticky-footer {
    flex-shrink: none;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
header{
  border-bottom: 2px solid maroon;
}
