
.hr-sodi2{
	margin-bottom: 0px;
	background-color: maroon ;
  border: none;
  height: 2pt;
  width: 100%;

}


ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
}

ul li a {
    color: maroon;
}
#sticky-footer {
  flex-shrink: none;
	height: 5vh;
	align-items: center;
	display: flex;
}
