/**{
	margin: 0;
    padding: 0;
	box-sizing: border-box;
    font-family: 'Assistant', sans-serif;	
	
}
   body {
         height: 100vh;
         padding: 0rem;
         margin: 0rem;
         display: flex;
         flex-direction: column;
		 background: white;
      }
      body>*:not(.scrollen) {
         flex-shrink: 0;
      }
      .scrollen {
         overflow-y: scroll;
         flex-grow: 1;
         flex-shrink: 1;
         flex-basis: auto;
	  }*/
	  
  * {
    margin: 0;
    padding: 0;
}
 
html, body {
    height: 100%;
}
 
#seite {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
}
 
#inhalt {
    padding-bottom: 4em;
}
 

.footer {
    margin-top: 30px;
}


.container-fluid div a{
    padding-left: 1%;
	text-decoration: none;
    color: black;
    font-family: 'Assistant', sans-serif;
}


.container-fluid div a:hover{
    padding-left: 1px;
    text-decoration: underline;
    color: darkred ;
    background: grey;
}

.icon {
/*	box-sizing: content-box;*/
	padding: 8px;
	background: #C0C0C0 ;
	opacity: 0.7;
	display: flex;
	justify-content: center;
	
}

.name {
	font-weight:bold;
	box-sizing: content-box;
	padding: 10px;
	background: #C0C0C0 ;
	opacity: 0.7;
	text-align:center;
}
.container-fluid div a i{
	
	font-size:80px;
}

@media screen and (max-width: 600px) {

.container-fluid div a i{
	
	font-size:40px;
}

  }
