*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;	
	
}


body{
	background:white /*linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%)*/  no-repeat center center fixed;
	-moz-background-size: cover;
	background-size: cover;
	
}


a{
    padding-left: 2%;
	text-decoration: none;
    color: black;
    font-family: 'Assistant', sans-serif;
}


a:hover{
    padding-left: 2px;
    text-decoration: underline;
    color: darkred ;
    background: grey;
}

.icon {
	box-sizing: content-box;
	padding: 8px;
	background: #C0C0C0 ;
	opacity: 0.7;
	display: flex;
	justify-content: center;
	
}

.name {
	font-weight:bold;
	box-sizing: content-box;
	padding: 10px;
	background: #C0C0C0 ;
	opacity: 0.7;
	text-align:center;
}
