*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family: 'Assistant', sans-serif;
}

body{
	background: url(../CSS/image/aerial-view-alexanderplatz-architecture-1128408.jpg)no-repeat;
    background-size: cover;
    height: 80vh;
}

header{
	height: 15vh;
    background: white;
}

.menubar{
    display: flex;
    height: 15vh;
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.menu li{
    list-style: none;
    line-height: 100px;
}

.menu li a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:black;
    font-family: 'Assistant', sans-serif;
    font-size: 10pt;
}

.logo{
    width: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -20px;
}

.berlin_logo{
    width: auto;
    height: 60px;
}

main{
    height: 80vh;
}

.soziale{
    padding-top: 30px;
    line-height: 60px;
    width: 80%;
    text-align: center;
}

.soziale h1{
    font-size: 3.4rem;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    animation: blinker 1s ease;
    z-index: 1;
}

.soziale h2{
    font-size: 2rem;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    animation: blinker 12s ease;
}

@keyframes blinker {
    from { opacity: 0; }
    to { opacity: 1; }
  }

.login{
	width: 80%;
	height:10vh;
	justify-content: flex-end;
	align-items: flex-end;
	text-align: right;
    display: flex;
}

.login h1{
	font-size: 2rem;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    color: black;
}

.loginfenster{
	padding-top: 10px;
	width: 50%;
	align-items: right;
	justify-content: right;
	text-align: center;
	float: right;
}

.loginfenster span{
	font-family: 'Assistant', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
}

input[type="text"]{
    font-size: 15px;
    border: 1px solid yellow;
    box-shadow: 0 1.2em 0 -0.9em wheat;
}

input[type="password"]{
    font-size: 15px;
    border: 1px solid yellow;
    box-shadow: 0 1.2em 0 -0.9em wheat;
}

input[type="button"] {
    margin-left: 25px;
    border-radius: 20px;
    width: 250px;
    height: 30px;
    zoom: 1.5;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	border: 1px solid yellow;
}

#mailuid{
    height: 60px;
    width: 450px;
    text-align: center;
}

#passwort{
    height: 60px;
    width: 450px;
    text-align: center;
}

.checkbox{
    margin-left: 5px;
    zoom: 2;
}

input[type="button"]:hover {
   background: black;
   color: wheat;
}


