.betreuer.nachricht a {
  color: ivory;
}

.proband.nachricht a {
  color: black;
}

.meinenachrichten {
  font-family: 'Assistant', sans-serif;
  height: 65vh;
}
.nachrichten {
  min-width: 300px;
  max-width: 40%;
}
.nachricht {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  padding: 0.5rem;
  border-radius: 1rem;
}
.proband {
  margin-left: 3rem;
}
.betreuer {
  margin-right: 3rem;
}
.betreuer.nachricht.neu {
  background-color: darkred;
  color: ivory;
}
.betreuer.nachricht {
  background-color: darkblue;
  color: ivory;
}
.proband.nachricht{
  background-color: darkgrey;
}
.betreuername {
  font-weight: bold;
}
.datumuhrzeit {
  font-size: 0.8rem;
  text-align: right;
}
.datumuhrzeit.betreuer {
  color: silver;
}
.datumuhrzeit.proband {
  color: dimgray;
}
.nachrichtenfeld {
  border-width: thin;
  border-style: solid;
  border-color: darkgrey;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 100%;
  height: 3rem;
  font-family: 'Assistant', sans-serif;
}
.feldnachricht {
  min-width: 80%;
}

.abschicken{
  margin-left: 50px;
}
