/**{
	margin: 0;
    padding: 0;
	box-sizing: border-box;
    font-family: 'Assistant', sans-serif;	
	
}
   body {
         height: 100vh;
         padding: 0rem;
         margin: 0rem;
         display: flex;
         flex-direction: column;
		 background: white;
      }
      body>*:not(.scrollen) {
         flex-shrink: 0;
      }
      .scrollen {
         overflow-y: scroll;
         flex-grow: 1;
         flex-shrink: 1;
         flex-basis: auto;
	  }*/
	  
  * {
    margin: 0;
    padding: 0;
}
 
html, body {
    height: 100%;
	
}
 
#seite {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
}
 
#inhalt {
    padding-bottom: 4em;
}
.tabellemitte {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
}

.footer {
    margin-top: 30px;
}