body {
    
    background-size: cover;
    object-fit: cover;
}

header {
    border-bottom: 2px maroon solid;
}

.passwortAendern-container {
    padding-top: 40px;
  height: 88vh;
}
.form-label-group > input {
  height: 4.125rem;
  padding: 0.95rem;
  width: 350px;
}
.navbar h4 {
    font-weight: 300;
}

.login-form {
    max-width: 100%;
    width: 350px;
    text-align: center;
    justify-content: center;
}


.form-group {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-check h2 {
    font-weight: 300;
}

.form-control {
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}

.form-button {
    padding-top: 10px;
}


.message {
    color: #FF0000;
}

#sticky-footer {
    flex-shrink: none;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-container li {
    list-style: none;
}

.footer-container li a {
    text-decoration: none;
    color: white;
}