* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border-bottom: 2px solid maroon;
}

.toggle {
  max-width: 15%;
}

input {
  font-size: 12pt;
  background-color: white;
}

.btn {
  padding-top: 150px;
}

.col-back {
  display: flex;
  justify-content: flex-end;
}

.first-container {
  padding-top: 30px;
}

.container-calender {
  padding-top: 20px;
  padding-bottom: 30px;
}

.container-calender h1 {
  font-weight: 300;
  margin-bottom: -10px;
  padding-top: 20px;
}

.footer-container li {
  list-style: none;
}

.footer-container li a {
  text-decoration: none;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  height: auto;
}

#text1 {
  width: 250px;
  padding: 6px 15px 6px 35px;
  border-radius: 20px;
  box-shadow: 0 1px 0 #ccc inset;
  transition: 500ms all ease;
  outline: 0;
}

#text1:hover {
  width: 100%;
}