* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border-bottom: 2px solid maroon;
}

.toggle {
  max-width: 15%;
}

input {
  font-size: 12pt;
  background-color: white;
}

.btn {
  padding-top: 150px;
}

.col-back {
  display: flex;
  justify-content: flex-end;
}

.first-container {
  padding-top: 30px;
}

.container-calender {
  padding-top: 20px;
  padding-bottom: 30px;
}

.container-calender h1 {
  font-weight: 300;
  margin-bottom: -10px;
  padding-top: 20px;
}

.footer-container li {
  list-style: none;
}

.footer-container li a {
  text-decoration: none;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  height: auto;
}


#textfeld {
  width: 150%;
}

/*Button Anpassungen*/
.button-sodi {
  display: inline-block;
  font-weight: 400;
  color: maroon;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.btn-outline-sodi {
  color: maroon;
  border-color: maroon;
}

.btn-outline-sodi:hover {
  color: #fff;
  background-color: maroon;
  border-color: maroon;
}

.btn-outline-sodi:focus,
.btn-outline-sodi.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-sodi.disabled,
.btn-outline-sodi:disabled {
  color: maroon;
  background-color: transparent;
}

.btn-outline-sodi:not(:disabled):not(.disabled):active,
.btn-outline-sodi:not(:disabled):not(.disabled).active,
.show>.btn-outline-sodi.dropdown-toggle {
  color: #fff;
  background-color: maroon;
  border-color: maroon;
}

.btn-outline-sodi:not(:disabled):not(.disabled):active:focus,
.btn-outline-sodi:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-sodi.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-sodi:hover {
  color: #fff;
  background-color: maroon;
  border-color: maroon;
}

.btn-outline-sodi:focus,
.btn-outline-sodi.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}