* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toggle {
  max-width: 15%;
}

input {
  font-size: 12pt;
  background-color: white;
}

input:hover[type="submit"] {
  background: darkred;
  color: white;
}

.col-back {
  display: flex;
  justify-content: flex-end;
}

.first-container {
  padding-top: 30px;
}

.container-calender {
  padding-top: 20px;
}

.container-calender h1 {
  font-weight: 300;
  margin-bottom: -10px;
  padding-top: 20px;
}

.footer-container {
  padding-top: 15px;
}

.footer ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
}

.footer ul li a {
  color: black;
}
