body{
    box-sizing: border-box;
    background: steelblue;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 100px 100px 100px 500px 50px 50px;
    grid-gap: 10px;
    /*grid-template-areas:
        "lo ha "
        "me me "
        "ub1 ub2"
        "ra ca"
        "bu ca"
        "kn ca" */
}

.logo{
    grid-area: lo;
    background-image: url(img/1000-Berliner_Baer.svg.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-color:ghostwhite;
    border: 3px white solid;
    border-radius: 150px 400px ;
    grid-column: 1/2;
    grid-row:1 / 2;
}

.hallobox{
    grid-area: ha;
    background:steelblue;
    font-family: 'Raleway', sans-serif;
    font-size: 110px;
    font-weight:bolder;
    text-align: left;
    text-shadow: 2px 2px 5px dodgerblue;
    padding-left: 40px;
    text-transform: uppercase;
    color: ghostwhite;
    line-height: 100px;
    box-sizing: border-box;
    grid-column:2/3;
    grid-row:1 / 2;
}

.menu{
    grid-area: me;
    background: ghostwhite;
    border: 3px white solid;
    border-radius: 150px 400px;
    box-sizing: border-box;
    grid-column:1/4;
    grid-row:2 / 3;
}

.menu img{
    height: 80px;
    width: 80px;
    box-sizing: border-box;
}

.menu img:hover{
    height: 85px;
    width: 85px;
}

.menu li{
    list-style: none;
    float: right;
    padding: 10px;
    box-sizing: border-box;
}

.menu li a{
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    color: dodgerblue;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
}

.uberschrift1{
    display: grid;
    grid-area: ub1;
    background:steelblue;
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: overline underline;
    font-family: 'Raleway', sans-serif;
    color: floralwhite;
    text-align: center;
    line-height: 100px;
    box-sizing: border-box;
    grid-column: 1 / 2;
    grid-row:3 / 4;
}

.uberschrift2{
    display: grid;
    grid-area: ub2;
    background: steelblue;
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: underline overline;
    font-family: 'Raleway', sans-serif;
    color: floralwhite;
    text-align: left;
    padding-left: 30px;
    line-height: 100px;
    box-sizing: border-box;
    grid-column: 3 / 4;
    grid-row:3 / 4;
}

#calendar{
    grid-area: ca;
    background: ghostwhite;
    border: 10px;
    border-radius: 50px;
    position: absolute;
}
.calendar{
  grid-column: 3 / 4;
  grid-row:4 / 5;
}
#calendar1{
    /*grid-area: ca;*/
    background: ghostwhite;
    border: 10px solid floralwhite;
    border-radius: 50px;
    /*position: absolute;*/
}
.calendar1{
  display: flex;
  float: left;
   /*grid-column: 1 / 2;
    grid-row:4 / 5;*/
}
