
*{font-family: 'Roboto', sans-serif;
	padding:0;
	margin:0;
	box-sizing:border-box;
	
}
body{
	background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}


.calendar{
margin: 0px;  
   
}

.calendar h1{
    font-size: 40px;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
	

}

.fullcalendar {
	margin: 1px auto;
	width: 46%;
}

.verschieben{
	margin-top: 10px;

} 
.verschieben.responsive {
	
	margin-top: 400px;
}

}