*{
    background: steelblue;
    box-sizing: border-box;
}

.logo{
    background-image: url(img/1000-Berliner_Baer.svg.png);
    height: 80px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-color:ghostwhite;
    border: 3px white solid;
    border-radius: 150px 400px;
    width: 100%;
}

.login{
    box-sizing: border-box;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

h1{
    box-sizing: border-box;
    font-size: 50px;
    border: 5px solid snow;
    border-radius: 50px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: snow;
    background:steelblue;
    border: 2px solid snow;
    font-family: 'Raleway', sans-serif;
}

.loginfenster{
    left: 38%;
    height: 250px;
    width: 330px;
    position:relative;
    border: 3px solid snow;
    border-radius: 20px;
    box-shadow: 1px 5px 10px snow;
    box-sizing: border-box;
}

span{
    padding-left:70px;
    font-size: 20px;
    color: snow;
    border-radius: 180px;
    font-family: 'Raleway', sans-serif;
}

input[type="text"]{
    width: 250px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin-left: 45px;
}
    
input[type="checkbox"] {
    zoom: 1.5;
}

input[type="password"]{
    width: 250px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin-left: 45px;
    margin-top: 20px;
}

input[type="button"] {
    width: 80px;
    zoom: 1.5;
    margin: 0px;
    padding: 0px;
    margin-left: 70px;
    color: snow; 
    font-family: 'Raleway', sans-serif;
}

input[type="button"]:hover{
    background: snow;
    color: steelblue;
}

.bild{
    margin-top: 50px;
    height: 350px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-image: url(img/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
