* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ;
}

header {
  border-bottom: 2px solid maroon;
}

.hallo-col h2 {
  padding-top: 30px;
}

.hallo-col h1,
h2 {
  font-weight: 200;
}

.intro {
  display: flex;
  flex-direction: column;
}

.typing {
  color: black;
}

.typing {
  font-size: 20px;
  margin-top: -50px;
  margin-left: 5px;
  z-index: 1;
}

.typing::after {
  content: "";
  right: -14px;
  width: 1px;
  height: 9%;
  border-right: 2px solid black;
  animation: blink 0.9s infinite ease;
}

.table-container {
  padding-top: 30px;
}

.btn-container {
  height: 7vh;
}

.buttonform {
  display: flex;
  align-items: flex-end;
  float: right;
}

#sticky-footer {
  flex-shrink: none;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.footer-container li {
  list-style: none;
}

.footer-container li a {
  text-decoration: none;
  color: white;
}