* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border-bottom: 2px solid maroon;
}

.hallo-col h2 {
  padding-top: 30px;
}

.hallo-col h1,
h2 {
  font-weight: 200;
}

.table-container {
  padding-top: 30px;
}

.btn-container {
  height: 7vh;
}

.buttonform {
  display: flex;
  align-items: flex-end;
  float: right;
}

#sticky-footer {
  flex-shrink: none;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.footer-container li {
  list-style: none;
}

.footer-container li a {
  text-decoration: none;
  color: white;
}