
*{font-family: 'Roboto', sans-serif;
	padding:0;
	margin:0;
	box-sizing:border-box;
	
}
body{
	background: white;
-moz-background-size: cover;
background-size: cover;
}


.calendar{
margin: 0px;  
   
}

.calendar h1{
    font-size: 40px;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    text-transform: uppercase
    font-weight: 400;
	

}

.fullcalendar {
	margin: 1px auto;
	width: 46%;
}

