body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: url(../CSS/image/aerial-view-alexanderplatz-architecture-1128408.jpg) no-repeat;
    background-size: cover;
    object-fit: cover;
    color: rgb(18, 6, 59);
}

header {
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.icon {
    height: 10vh;
}

.icon img {
    height: 10vh;
}

.icon-text {
    padding-top: 40px;
    color: rgb(18, 6, 59);
}

.login-container {
    height: 87vh;
    width: 100%;
}

.login-form {
    max-width: 100%;
    width: 370px;
    padding: 5px;
    margin: auto;
}

.form-control {
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}


input[type="checkbox"] {
    margin-left: 80px;
}

.message {
    color: #FF0000;
}

#sticky-footer {
    flex-shrink: none;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}