body{
    background: url(../CSS/image/aerial-view-alexanderplatz-architecture-1128408.jpg);
    background-size: cover;
    object-fit: cover;
}

header{
    border-bottom: 2px maroon solid;
}

.login-container {
    height: 90vh;
    width: 100%;
}

.navbar h4{
    font-weight: 300;
}

.login-form {
    max-width: 100%;
    width: 350px;
    text-align: center;
    justify-content: center;
}


.form-group{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-check h2{
    color: white;
    font-weight: 300;
}

.form-control {
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}

.form-button {
    padding-top: 10px;
}


.message {
    color: #FF0000;
}

#sticky-footer {
    flex-shrink: none;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

